.post {
  margin: 1rem 0;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ffffff;
}

/* .container {
  height: 100vh;
  max-height: 100%;
  position: fixed;
} */

.test1 {
  display: inline-block;
  /* height: 83.5vh; */
  /* height: 100%; */
  /* position: fixed; */
  /* object-position: top; */
  /* position: relative; */
  width: 35%;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #000000;
}
.test2 {
  display: inline-block;
  /* width: 100vh; */
  width: 65%;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  /* border-right: 1px solid #000000; */
  /* position: relative; */
}

.PostUser {
  display: flex;
  padding: 16px;
  align-items: center;
}
.PostUserAvatar {
  width: 30px;
  height: 30px;
}
.PostUserAvatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}