.authForm {
    width: 90%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  @media (min-width: 768px) {
    .authForm {
      width: 40rem;
    }
  }