.singlePost {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #3b0062;
}

.singlePost h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

.singlePost__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}



.feed__status {
  width: 90%;
  margin: 1rem auto;
}

.feed__status form {
  display: flex;
  align-items: center;
}

.feed__status form * {
  margin: 0 0.5rem;
}




.PostCaption {
  padding: 16px 16px;
}
.PostCaption strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}


.Navlink{
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.Navlink:hover,
.Navlink:active {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}



.PBorder{
  /* padding-bottom: 25px; */
  /* padding-top: 25px; */
  /* border-bottom: 1px solid #ededed; */
  border-top: 1px solid #ededed;
}





@media (min-width: 768px) {
  .singlePost {
    width: 40rem;
  }
}
